In [1]:
import pandas as pd
import matplotlib

In [2]:
# Test file
df_magic = pd.read_csv('../data/magic_stocks.csv')
df_magic

,balancing_on,codneg,nomres,codcvm,doc_env,per_fim,shares_outstanding,net_debt,ebit,roic,market_cap,enterprise_value,earnings_yield,rank_final
0,2011-04-11,TOTS3,TOTVS,19992,2011-01-31 19:05:59,2010-12-31,31.459000,179.421,211.669,0.172259,994.104400,1173.525400,0.180370,1
1,2011-04-11,ETER3,ETERNIT,5762,2011-03-11 11:18:46,2010-12-31,89.500000,-56.717,123.661,0.229406,987.185000,930.468000,0.132902,2
2,2011-04-11,VALE5,VALE,4170,2011-02-24 23:49:15,2010-12-31,5365.305000,30321.395,40442.258,0.182013,254959.293600,285280.688600,0.141763,3
3,2011-04-11,AUTM3,AUTOMETAL,22381,2011-02-28 14:52:34,2010-12-31,94.425000,252.107,247.233,0.189110,1606.169250,1858.276250,0.133044,4
4,2011-04-11,RAPT4,RANDON PART,14109,2011-03-16 07:37:57,2010-12-31,243.785000,69.816,450.228,0.176083,2913.230750,2983.046750,0.150929,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,2022-04-11,RAPT4,RANDON PART,14109,2022-02-24 19:36:51,2021-12-31,329.331000,1812.935,1100.515,0.142765,3392.109300,5205.044300,0.211432,26
356,2022-04-11,DXCO3,DEXCO,21091,2022-02-09 20:32:27,2021-12-31,760.963000,2448.346,1891.392,0.152545,10021.882710,12470.228710,0.151673,27
357,2022-04-11,BLAU3,BLAU,24627,2022-02-21 23:20:48,2021-12-31,179.393939,-548.304,456.624,0.277358,4859.781808,4311.477808,0.105909,28
358,2022-04-11,MLAS3,MULTILASER,26034,2022-03-24 23:45:31,2021-12-31,820.539225,-362.409,778.478,0.140910,4824.770643,4462.361643,0.174454,29
359,2022-04-11,SUZB3,SUZANO S.A.,13986,2022-02-09 18:00:34,2021-12-31,1361.263584,58529.578,18180.191,0.162797,74120.802149,132650.380149,0.137053,30

In [3]:
# Carregar tabela da CVM com os cadastros das empresas de capita aberto
CVM_PATH = "../data/external/cad_cia_aberta.csv"
df_sectors = pd.read_csv(
    CVM_PATH, sep=";",
    encoding="iso-8859-1",
    parse_dates=['DT_REG', 'DT_INI_SIT', 'DT_CANCEL']
)
cols = ['DENOM_SOCIAL', 'DT_REG', 'DT_CANCEL', 'SIT', 'DT_INI_SIT', 'CD_CVM',
       'SETOR_ATIV', 'CONTROLE_ACIONARIO']
df_sectors = (df_sectors
    .loc[:, cols]
    .sort_values('DT_INI_SIT', ignore_index=True)
    .drop_duplicates(subset="CD_CVM", keep="last")
    .sort_values("CD_CVM", ignore_index=True)
    .rename(columns={'CD_CVM': 'codcvm'})
    [['codcvm', 'SETOR_ATIV']]
)
df_sectors

      codcvm                                         SETOR_ATIV
0         35                            Emp. Adm. Participações
1         60                            Metalurgia e Siderurgia
2         78                            Metalurgia e Siderurgia
3         86                            Metalurgia e Siderurgia
4         94                            Metalurgia e Siderurgia
...      ...                                                ...
2443   26816                          Comunicação e Informática
2444   26824                        Securitização de Recebíveis
2445   26832                                   Energia Elétrica
2446   26840                        Securitização de Recebíveis
2447   26859  Emp. Adm. Part. - Serviços Transporte e Logística

[2448 rows x 2 columns]

In [4]:
df_sectors.query('codcvm == 18724')

      codcvm                          SETOR_ATIV
1634   18724  Emp. Adm. Part. - Extração Mineral

In [5]:
df = pd.merge(df_magic, df_sectors)
df

,balancing_on,codneg,nomres,codcvm,doc_env,per_fim,shares_outstanding,net_debt,ebit,roic,market_cap,enterprise_value,earnings_yield,rank_final,SETOR_ATIV
0,2011-04-11,TOTS3,TOTVS,19992,2011-01-31 19:05:59,2010-12-31,31.459000,179.421,211.669,0.172259,994.104400,1173.525400,0.180370,1,Comunicação e Informática
1,2011-04-11,ETER3,ETERNIT,5762,2011-03-11 11:18:46,2010-12-31,89.500000,-56.717,123.661,0.229406,987.185000,930.468000,0.132902,2,"Construção Civil, Mat. Constr. e Decoração"
2,2012-04-09,ETER3,ETERNIT,5762,2012-03-12 17:47:08,2011-12-31,89.500000,-20.477,117.301,0.185377,813.555000,793.078000,0.147906,4,"Construção Civil, Mat. Constr. e Decoração"
3,2013-04-10,ETER3,ETERNIT,5762,2013-03-15 16:57:06,2012-12-31,89.500000,-15.640,155.553,0.221311,828.770000,813.130000,0.191302,2,"Construção Civil, Mat. Constr. e Decoração"
4,2014-04-10,ETER3,ETERNIT,5762,2014-03-17 10:31:17,2013-12-31,89.500000,33.724,143.247,0.175127,748.220000,781.944000,0.183193,2,"Construção Civil, Mat. Constr. e Decoração"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,2022-04-11,PDTC3,PADTEC,18414,2022-03-15 18:02:05,2021-12-31,78.450000,20.339,55.339,0.245660,401.664000,422.003000,0.131134,22,Emp. Adm. Part. - Comunicação e Informática
356,2022-04-11,JALL3,JALLESMACHAD,25496,2021-06-23 08:15:11,2021-03-31,294.697091,707.215,519.708,0.186094,2890.978463,3598.193463,0.144436,25,"Agricultura (Açúcar, Álcool e Cana)"
357,2022-04-11,DXCO3,DEXCO,21091,2022-02-09 20:32:27,2021-12-31,760.963000,2448.346,1891.392,0.152545,10021.882710,12470.228710,0.151673,27,"Construção Civil, Mat. Constr. e Decoração"
358,2022-04-11,BLAU3,BLAU,24627,2022-02-21 23:20:48,2021-12-31,179.393939,-548.304,456.624,0.277358,4859.781808,4311.477808,0.105909,28,Farmacêutico e Higiene
359,2022-04-11,MLAS3,MULTILASER,26034,2022-03-24 23:45:31,2021-12-31,820.539225,-362.409,778.478,0.140910,4824.770643,4462.361643,0.174454,29,Comunicação e Informática

In [6]:
df['SETOR_ATIV'].value_counts() #  hist()

Construção Civil, Mat. Constr. e Decoração                 51
Comércio (Atacado e Varejo)                                33
Máquinas, Equipamentos, Veículos e Peças                   32
Têxtil e Vestuário                                         31
Alimentos                                                  24
Serviços Transporte e Logística                            16
Emp. Adm. Part. - Const. Civil, Mat. Const. e Decoração    16
Serviços Médicos                                           16
Metalurgia e Siderurgia                                    15
Agricultura (Açúcar, Álcool e Cana)                        14
Emp. Adm. Part. - Comércio (Atacado e Varejo)              13
Farmacêutico e Higiene                                     10
Extração Mineral                                            9
Educação                                                    9
Papel e Celulose                                            9
Petroquímicos e Borracha                                    9
Comunicação e Informática                                   8
Emp. Adm. Part. - Petróleo e Gás                            7
Emp. Adm. Part. - Serviços Transporte e Logística           6
Hospedagem e Turismo                                        6
Emp. Adm. Part. - Telecomunicações                          5
Emp. Adm. Part. - Extração Mineral                          4
Brinquedos e Lazer                                          3
Gráficas e Editoras                                         3
Emp. Adm. Part. - Têxtil e Vestuário                        3
Petróleo e Gás                                              2
Emp. Adm. Part. - Máqs., Equip., Veíc. e Peças              1
Emp. Adm. Part. - Alimentos                                 1
Emp. Adm. Part. - Educação                                  1
Emp. Adm. Part. - Metalurgia e Siderurgia                   1
Emp. Adm. Part. - Petroquímicos e Borracha                  1
Emp. Adm. Part. - Comunicação e Informática                 1
Name: SETOR_ATIV, dtype: int64

In [7]:
df_top10 = (df['SETOR_ATIV']
    .str.replace("Emp. Adm. Part. - ", "", regex=False)
    .value_counts(normalize=True)
    .head(10)
    # .sum()
    # .to_markdown()
) * 100
print(df_top10.round(1).to_markdown())

|                                            |   SETOR_ATIV |
|:-------------------------------------------|-------------:|
| Construção Civil, Mat. Constr. e Decoração |         14.2 |
| Comércio (Atacado e Varejo)                |         12.8 |
| Têxtil e Vestuário                         |          9.4 |
| Máquinas, Equipamentos, Veículos e Peças   |          8.9 |
| Alimentos                                  |          6.9 |
| Serviços Transporte e Logística            |          6.1 |
| Metalurgia e Siderurgia                    |          4.4 |
| Const. Civil, Mat. Const. e Decoração      |          4.4 |
| Serviços Médicos                           |          4.4 |
| Agricultura (Açúcar, Álcool e Cana)        |          3.9 |

In [8]:
(df['SETOR_ATIV']
    .str.replace("Emp. Adm. Part. - ", "", regex=False)
    .value_counts(normalize=True)
    .head(3)
    .sum()
)

0.3638888888888889